.listStyle {
  margin-right: 1px;
  margin-right: 100px;
}

.displayStyle {
  float: right;
  border: 1px solid lightgrey;
  margin-left: 180px;
}
.jumbotronStyle {
  background-color: rgb(36, 35, 35);
  color: white;
}
.cardStyle {
  height: 200px;
  width: 150px;
}
