.listStyle {
  margin-right: 1px;
  margin-right: 1600px;
}

.displayStyle {
  float: right;
  border: 1px solid lightgrey;
  margin-left: 80px;
}
.jumbotronStyle {
  background-color: rgb(36, 35, 35);
  color: white;
}
